@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
}

:root {
    --color-brand: #a1ff09;
    --color-white: #fff;
    --color-white-light: #eeeeee22;
    --color-primary-dark: #599001;
    --color-primary: #cfffc1;
    --color-highlight-dark: 016A90;
    --color-highlight: C1F6FF;
    --color-text: #2f2e40;
    --color-text-light: #2f2e4066;
    --color-text-lighter: #f6f6f6;
}

input {
    outline: 0;
}

body {
    background: linear-gradient(
        180deg,
        rgba(207, 255, 193, 1) 0%,
        rgba(250, 250, 250, 1) 35%,
        rgba(250, 250, 250, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    font-family: "IBM Plex Sans";
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 0.8rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

.box {
    margin-left: 1rem;
    width: calc(100vw - 2rem);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-text);
    font-weight: 600;
}

p {
    color: var(--color-text);
    font-weight: 400;
    line-height: 1.5;
}

.btn--black {
    background: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 10rem;
    color: var(--color-white);
    font-weight: 600;
}
.card {
    background: var(--color-white);
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 2rem auto;
    transform: scale(0.98); /* Very slight scale down initially */
    animation: fadeIn 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards; /* Soft ease */
    opacity: 0;
}

.card--green {
    background: var(--color-primary);
}

.card--green h1 {
    color: var(--color-primary-dark);
}

.card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card__title h1 {
    font-size: 1.5rem;
}

.card__title h5 {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--color-text-light);
}

.card__filters {
    display: flex;
    gap: 1rem;
}

.card__filters h5 {
    font-size: 0.55rem;
    color: var(--color-text-light);
    padding: 0.5rem 2rem;
    border: 1px solid var(--color-text-lighter);
    border-radius: 1rem;
}

.card__filters h5.selected {
    color: var(--color-text);
    background: var(--color-primary);
}

.card__row {
    display: flex;
}

.card__row > div {
    flex: 1;
    margin: 1.25rem auto;
}

.card__row:not(:last-child) {
    border-bottom: 1px solid var(--color-text-lighter);
}

.card__row__text h1 {
    font-size: 1.25rem;
}

.card__row__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card__row__buttons h5 {
    font-size: 0.55rem;
}
.card__row__buttons a {
    background: var(--color-text-lighter);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.card__row__buttons img {
    width: 1.5rem;
    filter: invert(71%) sepia(5%) saturate(0%) hue-rotate(74deg) brightness(98%)
        contrast(91%);
}

.card__row__buttons h5 {
    padding: 0.5rem 2rem;
    background: var(--color-primary);
    border-radius: 1rem;
}

.form {
    margin: 1rem auto;
}

.form label {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    outline: 0;
    margin-bottom: 0.5rem;
}

.form input {
    border: 0;
    width: 100%;
    background: #fafafa;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: "IBM Plex Sans";
    font-weight: 500;
}

.form__row {
    margin: 2rem auto;
}

.form__option {
    flex: 1;
    text-align: center;
    background: #fafafa;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
}

.btn--fixed {
    position: fixed;
    bottom: 2rem;
    margin-left: 2rem;
    width: calc(100vw - 4rem);
}

.btn--outline {
    border: 1px solid var(--color-text-light) !important;
    background: var(--color-white-light) !important;
    color: var(--color-text-light) !important;
}

.card__small {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

a.small {
    display: flex;
    justify-items: center;
    align-items: center;
    background: white;
    border-radius: 100rem;
    padding: 1rem;
}

a.small img {
    width: 20px;
    height: 20px;
    filter: invert(71%) sepia(5%) saturate(0%) hue-rotate(74deg) brightness(98%)
        contrast(91%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.card:nth-child(1) {
    animation-delay: 0.2s;
}
.card:nth-child(2) {
    animation-delay: 0.4s;
}
.card:nth-child(3) {
    animation-delay: 0.6s;
}
.card:nth-child(4) {
    animation-delay: 0.8s;
}
.card:nth-child(5) {
    animation-delay: 1s;
}
